textarea {
  resize: none;
}

textarea.form-control {
  border-width: 5px;
}

.form-check-label {
  color: aliceblue;
}

.alert {
  margin-bottom: 0;
}
.not-found{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}